.main {
  max-width: 1440px;
  margin: 0px auto 28px;
  padding: 0 40px;
}
.main__text {
  font-size: 20px;
  padding-bottom: 34px;
}

.main__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 599px) and (min-width: 280px) {
  .main {
    max-width: 375px;
    padding: 0 16px;
  }
  .main__text {
    padding-bottom: 20px;
  }
}
